/*  your css code here. If applicable */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

.container {
  display: flex;
  width: 90vw;
  height: 80vh;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  flex: 0.5;
  margin: 10px;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: flex 0.5s ease-in;
  color: white;
}

.panel h3.img-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  font-size: 24px;
  text-shadow: 1px 1px 3px black;
}

.panel.active {
  flex: 5;
}
